
.property-card {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  border-radius: 10px;
  text-align: left;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.property-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.property-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.property-info h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 15px 5px;
}

.property-info p {
  font-size: 14px;
  color: #444;
  margin: 10px 15px;
}

.property-link {
  display: block;
  margin: 15px;
  color: #004aad;
  font-weight: 600;
  text-decoration: none;
  
  
}

.property-link:hover {
  text-decoration: underline;
}
