
.navbar{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:white;
    padding: 15px 7%;
    margin: 0 auto;
    position:fixed;
    top:0;
    left:0;
    right:0;

}
.logo{
    width:160px;
    cursor: pointer;
}



ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}